# Kotlin/Android関連の.gitignore内容
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.idea/
*.iml
.cxx/
google-services.json
google-services.xml
*.jks
*.keystore
captures/
.navigation/
*.log
.DS_Store
*.orig
*.pyc
*.swp

# Python関連の.gitignore内容
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env/
.venv/
ENV/
env/
venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
instance/
.venv/
venv/
.venv.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
